body {
    background: linear-gradient(to right, rgb(255, 140, 207), rgba(255, 255, 255, 1));
}
.content{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: right;
    text-align: right;
    position: relative; 
}

.overlay {
    position: absolute;
    top: 1;
    left: 1;
    z-index: 1; 
    background-color: rgba(255, 255, 255, 0.7);
}
.photo{
        display: flex;
        padding-top: 10px;
        padding-right: 500px;
}


.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 1px;
    margin-right: 230px;
}
.btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #af4c93;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 70px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
  }
  .btn:hover {
    background-color: #7b1b5d;
}
.btn:active {
    background-color: #3e0e2e;
}